header {
padding: 8px 20px;
box-sizing: border-box;
background-color: #222;
align-items: center;
justify-content: space-between;
display: flex;
}
.logo img {
max-height: 80px;
width: auto;
}
header nav h1 {
font-family: Sans-serif;
font-size: 1.5em;
color: white;
font-weight: bold;
margin: 0;
}
h1, h2 {
    text-align: center;
    font-family: Sans-serif;
    font-weight: bold;
}
p {
    font-family: Sans-serif;
    font-weight: bold;
}
img {
    display: block; /* 1. Transforma a imagem em um elemento de bloco */
    margin: 0 auto;  /* 2. Centraliza o bloco na horizontal */
    max-width: 100%; /* Boa prática para responsividade */
    height: auto;
}
a {
    font-family: Sans-serif;
    font-weight: bold;
}
.centralizar-links {
    text-align: center;
}
.button {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding: 1.5em 3.0em;/*padding 12px pq 1rem x 0.75em = 12. */
    font-size: 1rem;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-family: Sans-serif;
    font-weight: bold;
}
.cor-paragrafos {
    color: orange;
}

footer {
padding: 35px 50px;
box-sizing: border-box;
background-color: #222;
align-itens: center;
justify-content: space-between;
display: flex;
}
.links-rodapé {
    display: flex;
    gap: 20px;
}
.links-rodapé a {
font-family: Sans-serif;
color: white;
font-weight: bold;
text-decoration: none;
transition: color 0.2s;
}
.links-rodapé a:hover {
    color: #fff;
    text-decoration: underline;
}
footer p {
font-family: Sans-serif;
color:white;
font-weight: bold;
margin: 0;
}




