body {
    display: flex;             /* Habilita o Flexbox */
    flex-direction: column;    /* Empilha os filhos (header, main, footer) verticalmente */
    min-height: 100vh;         /* Garante que o body ocupe, no mínimo, a altura total da viewport */
    margin: 0;
    background: radial-gradient(circle at center, #121420 0%, #0F0F10 100%);                 /* Remove margens padrão do body */
}
header {
padding: 8px 20px;
box-sizing: border-box;
background-color: #222;
align-items: center;
justify-content: space-between;
display: flex;
}
.logo img {
max-height: 80px;
width: auto;
border: none;
box-shadow: none;
}
header nav h1 {
font-family: Sans-serif;
font-size: 1.5em;
color: white;
font-weight: bold;
margin: 0;
}
main {
flex-grow: 1;
}
h1, h2 {
    text-align: center;
    font-family: Sans-serif;
    color: white;
    text-shadow: 0.7px 0.7px 0.7px white;
    text-decoration: none;
}
p {
    font-family: Sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 0.4px 0.4px 0.4px white;
    
}
img {
    display: block; /* 1. Transforma a imagem em um elemento de bloco */
    margin: 0 auto;  /* 2. Centraliza o bloco na horizontal */
    max-width: 100%; /* Boa prática para responsividade */
    height: auto;
    border: 2px solid #e67e22;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.15);
    text-align: center;
}
a {
    font-family: Sans-serif;
    font-weight: bold;
    text-shadow: 0.4px 0.4px 0.4px white;
    text-decoration: none;
}
.centralizar-links {
    text-align: center;
}
.button {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding: 1.5em 3.0em;/*padding 12px pq 1rem x 0.75em = 12. */
    font-size: 1rem;
    background-color: #e67e22;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-family: Sans-serif;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.15);
}
.cor-paragrafos {
    color: #e67e22;
    font-weight: bold;
    text-shadow: 0.4px 0.4px 0.4px #e67e22;
}
footer {
padding: 35px 50px;
box-sizing: border-box;
background-color: #222;
align-items: center;
justify-content: space-between;
display: flex;
}
.links-rodapé {
    display: flex;
    gap: 20px;
}
.links-rodapé a {
font-family: Sans-serif;
color: white;
font-weight: bold;
text-decoration: none;
transition: color 0.2s;
}
.links-rodapé a:hover {
    color: #fff;
    text-decoration: underline;
}
footer p {
font-family: Sans-serif;
color:white;
font-weight: bold;
margin: 0;
}




